venv
special_dict.txt
test_message.html
development_settings.cfg
DVC_local.html
dvcrentalstore_points.json
dvcrentalstore_preconfirms.json
dvcrentalstore_confirmed_2021.html
*.pyc
.env
*.p8
postdrop_template/
gh_pages_source/
