[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
SQLAlchemy = {extras = ["postgresql"]}
requests = "*"
lxml = "*"
gunicorn = "*"
tomlkit = "*"
flask-migrate = "*"
twilio = "*"
flask-httpauth = "*"
flask-wtf = {extras = ["email"], version = "*"}
flask-talisman = "*"
phonenumbers = "*"
python-dateutil = "*"
yacron = "*"
apns2 = {ref = "httpx", git = "git+https://github.com/dunkmann00/PyAPNs2.git"}
passlib = {extras = ["argon2"], version = "*"}
premailer = {ref = "parsestyle-validate-option", git = "git+https://github.com/dunkmann00/premailer.git"}

[requires]
python_version = "3.11"
