-i https://pypi.org/simple
aiohttp==3.9.0 ; python_version >= '3.8'
aiohttp-retry==2.8.3 ; python_version >= '3.7'
aiosignal==1.3.1 ; python_version >= '3.7'
aiosmtplib==3.0.1 ; python_version >= '3.8' and python_version < '4.0'
alembic==1.12.1 ; python_version >= '3.7'
-e git+https://github.com/dunkmann00/PyAPNs2.git@4622972650941a05fe6d4a58fb2e403342133aa9#egg=apns2
async-timeout==4.0.3 ; python_version < '3.11'
attrs==23.1.0 ; python_version >= '3.7'
bcrypt==4.0.1
blinker==1.7.0 ; python_version >= '3.8'
cachetools==5.3.2 ; python_version >= '3.7'
certifi==2023.11.17 ; python_version >= '3.6'
cffi==1.16.0 ; python_version >= '3.8'
charset-normalizer==3.3.2 ; python_full_version >= '3.7.0'
click==8.1.7 ; python_version >= '3.7'
crontab==0.22.8
cryptography==41.0.5 ; python_version >= '3.7'
cssselect==1.2.0 ; python_version >= '3.7'
cssutils==2.9.0 ; python_version >= '3.8'
dnspython==2.4.2 ; python_version >= '3.8' and python_version < '4.0'
email-validator==2.1.0.post1
flask==3.0.0
flask-httpauth==4.8.0
flask-migrate==4.0.5
flask-sqlalchemy==3.1.1
flask-talisman==1.1.0
flask-wtf[email]==1.2.1
frozenlist==1.4.0 ; python_version >= '3.8'
greenlet==3.0.1 ; platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
gunicorn==21.2.0
h2==2.6.2
hpack==3.0.0
hyper==0.7.0
hyperframe==3.2.0
idna==3.4 ; python_version >= '3.5'
importlib-metadata==6.8.0 ; python_version < '3.10'
itsdangerous==2.1.2 ; python_version >= '3.7'
jinja2==3.1.2 ; python_version >= '3.7'
lxml==4.9.3
mako==1.3.0 ; python_version >= '3.8'
markupsafe==2.1.3 ; python_version >= '3.7'
multidict==6.0.4 ; python_version >= '3.7'
packaging==23.2 ; python_version >= '3.7'
passlib[bcrypt]==1.7.4
phonenumbers==8.13.25
-e git+https://github.com/dunkmann00/premailer.git@08ea63266ed9342e0f3acf381bfe731b96dbe035#egg=premailer
psycopg2==2.9.9
pycparser==2.21
pyjwt==2.8.0 ; python_version >= '3.7'
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
ruamel.yaml==0.17.4 ; python_version >= '3'
ruamel.yaml.clib==0.2.8 ; python_version < '3.10' and platform_python_implementation == 'CPython'
sentry-sdk==1.35.0
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sqlalchemy[postgresql]==2.0.23
strictyaml==1.7.3 ; python_full_version >= '3.7.0'
tomlkit==0.12.3
twilio==8.10.2
typing-extensions==4.8.0 ; python_version >= '3.8'
urllib3==2.1.0 ; python_version >= '3.8'
werkzeug==3.0.1 ; python_version >= '3.8'
wtforms==3.1.1 ; python_version >= '3.8'
yacron==0.19.0
yarl==1.9.2 ; python_version >= '3.7'
zipp==3.17.0 ; python_version >= '3.8'
