.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

body {
    background-color: #FAFAFA;
}

.criteria-row {
    background-color: #ffffff;
}

.red-input:checked, .red-input:indeterminate {
    background-color: #dc3545!important; /* BLUE COLOR #143dc4 */
    border-color: #dc3545!important;
}

.red-input:focus {
    box-shadow: 0 0 0 0.25rem #ff010045;
}

.symbol-button {
    padding: 0px;
    border-radius: 50%!important;
    border: none;
}

.plus-button {
    color: #dc3545;
    z-index: 1000;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .7);
}

.plus-button:hover, .plus-button:focus {
    color: #bb2d3b;
}

.plus-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(225 83 97 / 50%);
}

.x-button {
    color: #6c757d;
}

.x-button:hover, .x-button:focus {
    color: #5c636a;
}

.x-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
}

.bottom-spacing {
    margin-bottom: 22px!important;
}

.select-all-btn {
    font-size: 0.875em;
    padding: 0px;
    padding-left: 4px;
    padding-bottom: 4px;
}

.select-all-input {
    margin-right: 2px;
}

.collapse-content .form-check {
    margin-left: 1.5em;
}

.collapse-btn {
    font-weight: 600;
    font-size: 1.0rem;
    border: none;
    padding: 0px;
    padding-bottom: 4px;
}

.collapse-btn::before {
    width: 1.5em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: 0.625em 50%;
}

.collapse-btn[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
