<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
    <!--[if gte mso 9]>
	<table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
	<![endif]-->
	<tbody class="mcnBoxedTextBlockOuter">
        <tr>
            <td valign="top" class="mcnBoxedTextBlockInner">

				<!--[if gte mso 9]>
				<td align="center" valign="top" ">
				<![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnBoxedTextContentContainer">
                    <tbody><tr>

                        <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">

                            <table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;border: 2px double {% if important_special_format(special.check_out, special.check_in) %}#049d05{% else %}#f20124{% endif %};">
                                <tbody><tr>
                                    <td valign="top" class="mcnTextContent" style="color: #444444;font-family: Helvetica;font-size: 14px;font-style: normal;font-weight: bold;line-height: 150%;text-align: left;">
                                        <div style="background-color:{% if important_special_format(special.check_out, special.check_in) %}#049d05{% else %}#f20124{% endif %}; color:#FFFFFF; font-size:22px; padding:10px">Pre-confirmed Reservation</div>
&nbsp;

<div style="padding-left:18px;padding-bottom:18px">
  Check-In: {{ special.check_in|datetimeformat }}<br>
  Check-Out: {{ special.check_out|datetimeformat }}<br>
  Length of Stay: {{ duration(special.check_out, special.check_in) }} days<br>
  <br>
  Resort: {{ special.resort }}<br>
  Room: {{ special.room }}<br>
  <br>
  Total Price: {{ special.price|currencyformat }} {% if old_price %}({{ old_price|currencyformat }}){% endif %}<br>
  Price/Night: {{ (special.price/duration(special.check_out, special.check_in))|currencyformat }}<br>
  <br>
  Mention ID: {{ special.special_id|idformat }}
</div>

                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
				<!--[if gte mso 9]>
				</td>
				<![endif]-->

				<!--[if gte mso 9]>
                </tr>
                </table>
				<![endif]-->
            </td>
        </tr>
    </tbody>
</table>
