<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
    <!--[if gte mso 9]>
	<table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
	<![endif]-->
	<tbody class="mcnBoxedTextBlockOuter">
        <tr>
            <td valign="top" class="mcnBoxedTextBlockInner">

				<!--[if gte mso 9]>
				<td align="center" valign="top" ">
				<![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnBoxedTextContentContainer">
                    <tbody><tr>

                        <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">

                            <table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;border: 2px double {% if important_special %}#049d05{% else %}#f20124{% endif %};">
                                <tbody><tr>
                                    <td valign="top" class="mcnTextContent" style="color: #444444;font-family: Helvetica;font-size: 14px;font-style: normal;font-weight: bold;line-height: 150%;text-align: left;">
                                        <div>
<div style="background-color:{% if important_special %}#049d05{% else %}#f20124{% endif %}; color:#FFFFFF; font-size:22px; padding:10px">Discounted Points</div>
&nbsp;

<div style="padding-left:18px;padding-bottom:18px">
  Points Available: {{ special.points|nullable }} {{ old_value(special.old_points) }}<br>
  Price: {{ special.price|currencyformat|nullable }} {{ old_value(special.old_price|currencyformat) }}<br>
  Check-Out no later than: {{ special.check_out|datetimeformat|nullable }} {{ old_value(special.old_check_out|datetimeformat) }}<br>
  Reservation ID: {{ special.reservation_id|nullable }} {{ old_value(special.old_reservation_id) }}<br>
	<br>
	Source: <a href="{{ special.url }}" target="_blank" rel="noopener noreferrer">{{ special.source_name }}</a>
</div>
</div>

                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
				<!--[if gte mso 9]>
				</td>
				<![endif]-->

				<!--[if gte mso 9]>
                </tr>
                </table>
				<![endif]-->
            </td>
        </tr>
    </tbody>
</table>
